node_modules/
.env
terraform.tfvars
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

src/scripts/gen-hashes.mjs

AUTH_PLAN.md
BRANCHING_STRATEGY.md
**/.terraform/
create-users-table.sql
gen-hashes.mjs