<footer class="footer">
        <div class ="footer-container">
            <div class="footer-section">
                <h3>About</h3>
                <p>Cascadia Gear Co-op is a project created by Green River College students.</p>
                <p>Implementing features such as : </p>
                <ul>
                    <li>Docker</li>
                    <li>GitHub CI/CD pipeline</li>
                    <li>Reading from server</li>
                    <li>Clean MVC Layers</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Students</h3>
                <ol>
                    <li>Konrad</li>
                    <li>Sam</li>
                    <li>Jonus</li>
                </ol>
            </div>
        </div>
</footer>

<script src="https://unpkg.com/lucide@latest" defer></script>
<script src="/js/icon.js" defer></script>