<header class="header">
    <div class="header-container">
        <div class="logo">
            <a href="/">Cascadia Gear Co-op</a>
        </div>
        
        <nav class="navbar">
            <ul class="nav-menu">
                <li><a href="/products">Products</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </div>
</header>